body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 700px;
    height: auto; 
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.view {
    display: none;
}

.view.active {
    display: block;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

form button {
    width: calc(100% - 20px); 
    padding: 10px;
    background: #11927d;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #11927d;
}

#logout-button {
    width: calc(100% - 20px); 
    margin: 10px 0;
    background: #974c63;
    align-self: center; 
    color: white;
}

form button {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0; /* Add margin here */
    background: #11927d;
    color: white;
    border: none;
    cursor: pointer;
}

#to-signup-button{
    background-color:#aab8b6;
}

#to-login-button{
    background-color:#aab8b6;
}
